@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, Helvetica, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}